
test_video/road2.mp4
test_video/road3.mp4
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/checkpoint
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/frozen_inference_graph.pb
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/model.ckpt.data-00000-of-00001
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/model.ckpt.index
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/model.ckpt.meta
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/pipeline.config
object_detection/ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/saved_model/saved_model.pb
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/checkpoint
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/frozen_inference_graph.pb
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/model.ckpt.data-00000-of-00001
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/model.ckpt.index
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/model.ckpt.meta
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/pipeline.config
object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03/saved_model/saved_model.pb
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/checkpoint
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/frozen_inference_graph.pb
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/model.ckpt.data-00000-of-00001
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/model.ckpt.index
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/model.ckpt.meta
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/pipeline.config
object_detection/ssdlite_mobilenet_v2_coco_2018_05_09/saved_model/saved_model.pb
